{% extends 'base.html.twig' %}
{% block body %}
    <div data-ng-app="app" data-ng-controller="game">

        <canvas id="game" width="1800" height="900" class="game_canvas" style="border: 1px solid red;"></canvas>
        <button data-ng-model="attacking" data-ng-click="attacking = !attacking">attack!</button>
        <button data-ng-click="log()">log</button>
        <button data-ng-click="add_frame()">Add frame</button>
        <button data-ng-bind="frame"></button>
        <button data-ng-bind="countAlly"></button>
        <button data-ng-bind="countEnemy"></button>

    </div>

{% endblock %}
